@import 'base.scss';

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $light-beige-color;
  box-sizing: border-box;

  @include respond-to(desktop) {
    padding-bottom: 60px;
  }

  @include respond-to(tablet) {
    padding: 30px 0;
  }

  @include respond-to(mobile) {
    min-height: 1494px;
    padding: 37px 0 15px;
  }

  &__title {
    font-weight: 600;
    font-size: 46px;
    color: $green-color;
    text-align: center;

    @include respond-to(tablet) {
      font-size: 38px;
      margin: 0;
    }

    @include respond-to(mobile) {
      font-size: 34px;
      margin: 0 auto;
      max-width: 300px;
      text-align: center;
    }
  }

  &__items {
    display: grid;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    row-gap: 55px;
    grid-auto-flow: unset;

    @include respond-to(desktop) {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 75px;
      column-gap: 20px;
      width: calc(100% - 20px);
    }

    @include respond-to(tablet) {
      margin-top: 75px;
      column-gap: 74px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(mobile) {
      column-gap: 0;
      row-gap: 30px;
      margin-top: 40px;
      justify-items: center;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    font-weight: 400;
    font-size: 28px;
    color: $dark-grey-color;
    text-align: center;

    @media screen and (max-width: 391px) {
      font-size: 14px;
    }

    img {
      width: 75px;
      height: 75px;
    }
  }
}