@import 'base.scss';

.main {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $light-beige-color;

  @include respond-to(desktop) {
    background-image: url('../images/main.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include respond-to(tablet) {
    height: 650px;
  }
  @include respond-to(mobile) {
    height: 545px;
  }

  &__narrow {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__text {
    margin: 35px 0 0;
    background-color: $light-beige-color;
  }

  &__title {
    color: $black-color;
    font-weight: 600;
    font-size: 46px;
    line-height: 48.3px;
    max-width: 820px;
    margin: 37px 0 0;

    @include respond-to(tablet) {
      font-size: 38px;
      line-height: 39.9px;
      text-align: center;
      margin: 0;
    }

    @include respond-to(mobile) {
      font-size: 32px;
      line-height: 33.3px;
      text-align: center;
    }

    span {
      color: $green-color;
    }
  }

  &__text {
    color: $dark-grey-color;
    font-weight: 400;
    font-size: 22px;
    line-height: 27.5px;
    max-width: 750px;

    @include respond-to(tablet) {
      font-size: 21px;
      line-height: 26.25px;
      text-align: center;
      margin: 40px auto 0;
      display: inline-block;
      max-width: 660px;
    }

    @include respond-to(mobile) {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    gap: 28px;
    margin: 50px 0;

    @include respond-to(tablet) {
      justify-content: center;
    }

    @include respond-to(mobile) {
      justify-content: center;
    }
  }

  &__button-reg {
    display: block;
    width: 265px;
    line-height: 51px;
    border-radius: 64px;
    color: $white-color;
    text-align: center;
    font-size: 18px;

    @include respond-to(mobile) {
      font-size: 14px;
    }
  }

  &__button-contact {
    display: block;
    width: 265px;
    line-height: 51px;
    border-radius: 64px;
    color: $darkest-grey-color;
    text-align: center;
    font-size: 18px;

    @include respond-to(mobile) {
      font-size: 14px;
    }
  }
}