@import 'base.scss';

.questions {
  &__title {
    font-weight: 600;
    font-size: 46px;
    color: $green-color;
    text-align: center;

    @include respond-to(desktop) {
      margin: 100px 0 0 0;
    }

    @include respond-to(tablet) {
      margin: 100px 0 0 0;
      font-size: 34px;
    }

    @include respond-to(mobile) {
      font-size: 34px;
      max-width: 400px;
      margin: 50px auto 0;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    color: $dark-grey-color;
    text-align: center;

    @include respond-to(desktop) {
      max-width: 900px;
      margin: 35px auto 0;
    }

    @include respond-to(tablet) {
      font-size: 16px;
    }

    @include respond-to(mobile) {
      font-size: 14px;
      margin-top: 30px;
      line-height: 17.5px;
    }
  }

  &__items {
    @include respond-to(desktop) {
      margin: 80px 0 0 0;
    }

    @include respond-to(tablet) {
      margin: 60px 0 0 0;
    }

    @include respond-to(mobile) {
      margin: 47px 0 0 0;
    }
  }

  &__item {
    background-color: $light-beige-color;
    margin: 30px 0 0;
    padding: 0 35px;
    border-radius: 16px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);

    @include respond-to(tablet) {
      padding: 25px 35px;
      margin: 30px 20px;
    }

    @include respond-to(mobile) {
      padding: 20px 20px;
      margin: 20px 20px;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;

    @include respond-to(tablet) {
      height: 30px;
    }

    @include respond-to(mobile) {
      height: 20px;
    }

    p {
      font-weight: 400;
      font-size: 21px;
      color: $dark-grey-color;

      @include respond-to(tablet) {
        font-size: 18px;
      }

      @include respond-to(mobile) {
        font-size: 14px;
      }
    }
  }

  &__answer {
    display: none;
    font-weight: 300;
    font-size: 18px;
    padding: 0 0 25px 0;
    color: $dark-grey-color;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox[type=checkbox]:checked ~ &__answer {
    display: block;
  }

  &__checkbox[type=checkbox]:checked ~ &__question {
    .questions__arrow {
      transform: rotate(180deg);
    }
  }
}

.questions__arrow {
  @include respond-to(mobile) {
    width: 16px;
    height: 16px;
  }
}